@font-face {
  font-family: "SiYuan";
  src: url("./siyuan.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AcariSans";
  src: url("./AcariSans.ttf");
  font-weight: normal;
  font-style: normal;
}
